@import "normalize.css";

@font-face {
    font-family: 'Inter';
    src: url(Inter.ttf);
    font-display: swap;
}

:root {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: #7921de;
    --primary-text-color: #ffffff;
    --text-color: #2d2d2d;
    --sub-text-color: #4c4a58;
    --bg-color: #ffffff;
    --border-color: rgb(206, 206, 206);

}


.dark {
    --bg-color: #2d2d2d;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --border-color: rgb(77, 75, 75);
    transition: 0.3s;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Styling the thumb of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #85818a; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
  }
  
  /* Styling the track of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the scrollbar track */
  }

h1 {
    font-weight: 600;
}

h2 {
    color: var(--sub-text-color);
    font-weight: 500;
}

.input::placeholder {
    padding: 0.5em;
    color: #999999;
    /* Placeholder text color */
    font-size: 0.9em;
    /* Placeholder text style */
}

img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.container {
    margin: auto;
    padding: 1.5em;
    max-width: 1140px;

}

.center-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: calc(100% - 2em);
    margin-top: 10vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 3em 1em;
}

.input {
    line-height: 1.87em;
    display: flex;
    align-items: center;
    border: 2px solid var(--text-color);
    border-radius: 0.3em;
    outline: none;
    padding: 0;
    padding-left: 0.5em;
    font-size: 1.5rem;
    margin-bottom: 1em;
    background-color: var(--bg-color);
    border-color: var(--sub-text-color);
    color: var(--text-color);
}

.input:focus {
    border: 2px solid var(--primary-color);
}

.button {
    color: var(--primary-text-color);
    background: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding: 0 3em;
    white-space: nowrap;
    text-decoration: none;
}

.steps_heading {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 0;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .center-form {
        box-shadow: none;
    }

    .container {
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
        max-width: calc(100% - 2em);
    }
}




/* Main class */
.container1 {
    height: calc(100vh - 48.8px);
    display: flex;
    
}

.nav{
    position: sticky;
    top: 0;
   
    
}
.search {

    line-height: 1.5em;
    align-items: center;
    width: 100%;
    max-width: 50%;
    border-radius: 0.3em;
    background-color: var(--bg-color);
    border-color: var(--sub-text-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 0 15px;
    font-size: 1.2em;
    outline: none;

}

.search:focus {
    border-color: var(--primary-color);
}

.search::placeholder {

    font-size: 0.7em;
    ;
}

.row {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

span {
    font-size: 0.8em;
    font-weight: 500;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.message-container {
    flex: 1;
    overflow-y: auto;
}

.sidebar {
    padding: 0.5em;
    flex: 1;
    background-color: var(--bg-color);
    min-width: 200px;
    border-top: 0.05px solid var(--border-color);
    border-right: 0.05px solid var(--border-color);
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
        position: absolute;
        height: 91.5vh;
        animation: showSidebar 0.3s ease forwards;
    }

    @keyframes showSidebar {
        0% {
            display: none;
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            display: block;
            opacity: 1;
            transform: translateX(0);
        }
    }

    .chat-content {

        margin-left: auto;
        width: 100%;
        max-width: calc(100% - 2em);

    }

    .menu-sidebar {
        display: block;
    }
}


.chatbox-msg {
    width: 100%;
    border: 2px solid var(--text-color);
    line-height: 2.5em;
    align-items: center;
    border-radius: 0.3em;
    background-color: var(--bg-color);
    border-color: var(--sub-text-color);
    color: var(--text-color);
    font-size: 1.2em;
    outline: none;

}


.chatbox-msg:focus {
    border: 2px solid var(--primary-color);
}

.search-icon {
    display: none;
}

@media (max-width: 768px) {
    .search-icon {
        display: block;
        cursor: pointer;
    }

    .search {
        display: none;
    }

}

.logo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.logo .text {
    position: absolute;
    top: 50%;
    left: 2em;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1em;
    font-weight: bold;

}

.logo:hover .bi-chat-dots {
    opacity: 0;
}

.logo:hover .text {
    opacity: 1;
    color: var(--primary-color);
}
.work-detail{
    cursor: pointer;
}

.popup-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    width: 400px;
    height: 350px;
    background-color: var(--bg-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
   
}
.dimmed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    pointer-events: none;
}

.your-slack{
    width: 300px;
    height: 350px;
    background-color: var(--bg-color);
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    position: absolute; /* Position the popup absolutely */
    top: 8%; /* Place the popup at the top of the screen */
    left: 0; 

}
.mid-content span{
    font-size: 1em;
}